@font-face {
  font-family: "Geomanist";
  src: url(../fonts/geomanist-regular-webfont.ttf) format("truetype");
}

@font-face {
  font-family: "Fenix";
  src: url(../fonts/Fenix-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSans";
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
}

* {
  font-family: "Geomanist", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  top: 0;
  display: flex;
} 

.navbar ul li {
  margin: 0 0;
  padding: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #898e91;
}

.navbar ul li a:hover {
  color: black;
}

.navbar ul {
  margin: 0 16;
  padding: 0 0;
  display: flex;
  list-style: none;
  width: 100%;
} 

/* sections */
section {
  display: flex;
  width: 100%;
  margin: 0px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 0 20px;
}

h1 {
  font-size: 45px;
  padding: 10px 0;
  width: 100%;
  max-width: 100vw;
  text-align: left;
  border-bottom: 5px solid black;
}

h2 {
  font-size: 25px;
  max-width: 100%;
}

#section-home {
  background-color: ;
  /* background-image: url("../images/sand.jpg"); */
  height: 100vh;
  /* background-size: 100% 100%; */
}
#section-home span {
  color: black;
  font-size: 45px;
}
#intro-title {
  font-size: 35px !important;
}

p {
 max-width: 800px;
 font-size: 18px;
 padding: 0 10px;
}

span {
  font-size: 18px;
  max-width: 100%;
}

#section-about img {
  border-radius: 50%;
  border: 1px solid black;
}

img {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px black;
  padding: 1px 1px;
  background-color: black;
  margin-top: 8px;
  filter:grayscale(100%);
}

.project > div {
  margin: 25px;
}

#section-projects img {
  filter: grayscale(100%);
  box-shadow: 0px 0px 0px black;
  padding: 0px 0px;
  /* transform: skewY(-3deg); */
  width: 140px;
  height: 140px;
  background-color: inherit;
  order: 2;
  flex-shrink: 0;
  margin: 5px 5px;
  border: 1px solid white;
}

#section-projects button {
  background-color: white;
}

.paragraph-button {
  order: 3;
  flex-grow: 0;
  flex-shrink: 1;
}


#section-projects p {
  text-align: center;
  width: 600px;
  max-width: 100%;
  padding: 0 0;
}

.project {
  /* box-shadow: 0px 0px 5px black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  padding: 0 20px;
  box-shadow: 0px 0px 5px black;
}

textarea {
  background-color: white;
  font-size: 16px;
  resize: none;
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  order: 1
}

input {
  margin: 10px 0;
  background-color: white;
  font-size: 16px;
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
}

#section-about button {
  margin-top: 25px;
}

#name {
  width: 100px;
  order: 0;
  margin-right: 20px;
}

#email {
  width: 200px;
  order: 1;
}

.name-email-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
  order: 0;
}

.form-elements {
  width: 600px;
  display: flex;
  flex-direction: column;
  resize: horizontal;
}

button {
  font-size: 16px;
  border: 1px solid gray;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: white !important;
}

.thankyou-message {
  order: 4;
}

#subButton {
  padding: 10px 20px;
  margin-bottom: 50px;
  order: 3;
}