/* 
Colour Pallette
Dark gray - #1A3442
gray - #374955
light gray - #9AAEBB
dark brown - #3F2E1C
light brown - #6F5B48
*/



@font-face {
  font-family: "IBM Plex Sans";
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
}

* {
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar {
  position: relative;
  top: 0;
  display: flex;
} 

.navbar ul li {
  margin: 0 0;
  padding: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #9AAEBB;
}

.navbar ul li a:hover {
  color: #F7F9F3;
}

.navbar ul {
  margin: 0 16;
  padding: 0 0;
  display: flex;
  list-style: none;
  width: 100%;
} 

/* sections */
section {
  display: flex;
  width: 100%;
  margin: 0px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#section-home {
  background-color: #374955;
  height: 100vh;
}
#section-home span {
  color: #9AAEBB;
  font-size: 45px;
}

#section-about {
  background-color: #9AAEBB;
}
#section-about h1 {
  color: #1A3442;
  font-size: 45px;
}
#section-about p {
 color: #1A3442;
}

#section-skills {
  background-color: #9AAEBB;
}

#section-contact {
  background-color: #9AAEBB;
}