/* Import Fonts */
@font-face {
  font-family: "IBM Plex Sans";
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype");
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #EEF4ED;
}

.intro-header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  left: 10%;
}

.intro-header span {
  font-size: 24px;
  color: #134074;
  clear: left;
  float: left;
}

#intro-name {
  position: relative;
  font-size: 34px;
}

main {
  background-color: #EEF4ED;
  top: 200px;
  position: absolute;
}