@font-face {
  font-family: "Geomanist";
  src: url(../fonts/geomanist-regular-webfont.ttf) format("truetype");
}

* {
  font-family: "Geomanist", sans-serif;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

.fade {
  opacity: 1;
}

.navbar {
  position: relative;
  top: 0;
  display: flex;
} 

.navbar ul li {
  margin: 0 0;
  padding: 0 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

.navbar ul li a:hover {
  color: white;
}

.navbar ul {
  margin: 0 16;
  padding: 0 0;
  display: flex;
  list-style: none;
  width: 100%;
} 

/* sections */
section {
  display: flex;
  width: 100%;
  margin: 0px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 45px;
  margin-bottom: 50px;
  text-align: left;
  border-bottom: 5px solid black;
  width: 90%;
}

h2 {
  font-size: 25px;
  max-width: 100%;
}

#section-home {
  background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMzUpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSgwLCAwLCAwLDEpIj48L3JlY3Q+IDxwYXRoIGZpbGw9IiMxYTIwMmMiIGQ9Ik0wIDAgaDQwIHY0MCBoLTQwIHoiPjwvcGF0aD48cGF0aCBmaWxsPSJyZ2JhKDAsIDAsIDAsMSkiIGQ9Ik0tNDAgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTM4IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TS0zNiAwIGgxIGwxIDIwIGwtMSAyMCBoLTEgbDEgLTIwek0tMzQgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTMyIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TS0zMCAwIGgxIGwxIDIwIGwtMSAyMCBoLTEgbDEgLTIwek0tMjggMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTI2IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TS0yNCAwIGgxIGwxIDIwIGwtMSAyMCBoLTEgbDEgLTIwek0tMjIgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTIwIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TS0xOCAwIGgxIGwxIDIwIGwtMSAyMCBoLTEgbDEgLTIwek0tMTYgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTE0IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TS0xMiAwIGgxIGwxIDIwIGwtMSAyMCBoLTEgbDEgLTIwek0tMTAgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTggMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTYgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTQgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNLTIgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNMCAwIGgxIGwxIDIwIGwtMSAyMCBoLTEgbDEgLTIwek0yIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTQgMCBoMSBsMSAyMCBsLTEgMjAgaC0xIGwxIC0yMHpNNiAwIGgxIGwxIDIwIGwtMSAyMCBoLTEgbDEgLTIwek04IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTEwIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTEyIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTE0IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTE2IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTE4IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTIwIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTIyIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTI0IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTI2IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTI4IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTMwIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTMyIDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTM0IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTM2IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6TTM4IDAgaDEgbDEgMjAgbC0xIDIwIGgtMSBsMSAtMjB6Ij48L3BhdGg+PC9wYXR0ZXJuPiAgPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+");
  height: 100vh;
  /* background-size: 100% 100%; */
}

#section-home span {
  color: white;
  font-size: 45px;
}

#intro-title {
  font-size: 35px !important;
}

p {
 max-width: 800px;
 font-size: 16px;
 padding: 0 40px;
}

#section-skills p {
  padding: 0 20px;
}

span {
  font-size: 18px;
  max-width: 100%;
}

#section-about img {
  border-radius: 50%;
  border: 1px solid black;
}

img {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px black;
  padding: 1px 1px;
  background-color: black;
  margin-top: 8px;
}

.project > div {
  margin: 25px;
}

#section-projects img {
  filter: grayscale(100%);
  box-shadow: 0px 0px 0px black;
  padding: 0px 0px;
  /* transform: skewY(-3deg); */
  width: 140px;
  height: 140px;
  background-color: inherit;
  order: 2;
  flex-shrink: 0;
  margin: 20px 5px;
  border: 1px solid white;
}

#section-projects button {
  background-color: white;
}

.paragraph-button {
  order: 3;
  flex-grow: 0;
  flex-shrink: 1;
}

#section-projects p {
  text-align: center;
  max-width: 600px;
  padding: 0 0;
}

.project {
  /* box-shadow: 0px 0px 5px black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  margin: 10px 0;
  max-width: 85%;
  padding: 0 20px;
  box-shadow: 0px 0px 5px black;
}

.skill {
  width: 60%;
  max-width: 802px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  align-content: left;
  align-items: baseline;
  flex-direction: column;
  box-shadow: 0px 0px 5px black;
  margin: 10px 10px;
  padding: 0px 20px;
}

.skill h2 {
  order: 1;
  margin-bottom: -5px;
}

.skill p {
  order: 2;
}

textarea {
  background-color: white;
  font-size: 16px;
  flex-grow: 1;
  flex-shrink: 1;
  order: 1;
  border: 1px solid white;
  border-bottom: 1px solid gray;
  height: 176px;
  resize: none;
}

textarea::placeholder {
  color: gray;
}

input {
  margin: 10px 0;
  background-color: white;
  font-size: 16px;
  border: 1px solid white;
  border-bottom: 1px solid gray;
  flex-grow: 1;
  flex-shrink: 1;
}

#section-about button {
  margin-top: 25px;
}

#name {
  width: 100px;
  order: 0;
  margin-right: 20px;
}

#email {
  width: 200px;
  order: 1;
}

.name-email-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
  order: 0;
}

.form-elements {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

button {
  font-size: 16px;
  border: 1px solid gray;
  margin-bottom: 15px;
  margin: 0 15px;
  padding: 10px 20px;
  background-color: white !important;
  border: 1px solid white;
  border-bottom: 1px solid gray;  
  cursor: pointer;
}

button:hover {
  border: 1px solid gray;
}

.thankyou-message {
  order: 4;
}

#subButton {
  font-size: 16px;
  border: 1px solid white;
  border-bottom: 1px solid gray;  
  margin-bottom: 15px;
  padding: 10px 20px;
  margin-bottom: 100px;
  cursor: pointer;
}

#subButton:hover {
  border: 1px solid gray;
}

.personal-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.personal-links button {
  width: 140px;
  height: 42px;
}

.error {
  color: red;
  visibility: hidden;
  margin-top: 5px;
}